.tomato {
    background: cadetblue url("./tomato1.png");
    height: 66px;
    width: 66px;
    border-radius: 33px;
    margin-top: 20px;

    -o-transition: transform 3s linear;
    -ms-transition: transform 3s linear;
    -moz-transition: transform 3s linear;
    -webkit-transition: transform 3s linear;
    transition: transform 3s linear;
}

.tomato:hover {
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
}

.progress-bar-mod {
    background-color: purple !important;
}